# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Flask instance folder
instance/

# Logs
*.log

# Selenium tests (your folder)
selenium_tests/

# CSV files
data.csv
*.csv